html,
body {
  background-color: #11D1FF;
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
  min-width: 320px;
}

#title {
  font-size: 3em;
  font-weight: bold;
  margin: 25px;
}

#form-outer {
  background-color: #F0F0F0;
  margin: 0 auto;
  padding: 10px;
  padding-top: 20px;
  border-radius: 10px;
  width: 75%;
  max-width: 900px;
  
}

.labels {
  display: inline-block;
  text-align: right;
  width: 40%;
  padding: 5px;
  margin-top: 10px;
  verticle-align: top;
}

.rightTab {
  display: inline-block;
  text-align: left;
  width: 48%;
  vertical-align: middle;
}

#comment {
  width: 60%;
}

.input-feild {
  height: 20px;
  width: 280px;
  padding: 5px;
  margin: 10px;
  border: 1px solid #c0c0c0;
  border-radius: 2px;
}

.userRatings,
input[type="checkbox"] {
  float: left;
  margin-right: 5px;
}

#submit {
  background-color: #0FAD5B;
  border-radius: 4px;
  color: white;
  font-size: 1em;
  height: 40px;
  width: 96px;
  margin: 10px;
  border: 0px solid;
}

.dropdown {
  height: 35px;
  width: 140px;
  padding: 5px;
  margin: 10px;  
  margin-top: 15px;
  border: 1px solid #c0c0c0;
  border-radius: 2px;
}

.radio, .checkbox {
  position: relative;
  left: -43px;
  margin-left: 10px;
  display: block;
  padding-bottom: 10px;
}

footer a {
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 800px) {
  .input-field {
    width: 80%;
  }
  select {
    width: 90%;
  }
}

@media screen and (max-width: 520px) {
  .labels {
    width: 100%;
    text-align: left;
  }
  .rightTab {
    width: 80%;
    float: left;
  }
  .input-field {
    width: 100%;
  }
  select {
    width: 100%;
  }
}